body {
    text-align:center;
    background-color:gray ;
    
}

#dropdown{
    color:blue;
}


p{
    border:solid;
    border-color:blue;
    margin-left:500px;
    margin-right:500px;
    
}


h1{
    border-bottom:solid ;
    margin-left:500px ;
    margin-right:500px ;
}


#nav {
    text-align:center;
    
}
    
#nav li {
    display:inline-block;

    
}

#nav a {
 color:blue;
 background-color:white ;
 border:solid;   
 transition:2s linear;
 font-size:30px;
}


 #nav a:hover {
    color:red ;
    background-color:black;
}

