body{
    background-color:black;
}
pre{
    border:solid;
    text-align:center;
    color:green ;
    margin-left:150px;
    margin-right:150px;
    
}

code{
    
}


#nav {
    text-align:center;
    
}

#nav li {
    display:inline-block;

    
}

#nav a {
 color:green;
 background-color:black;
 border:solid;   
 transition:2s linear;
 font-size:20px;
 font-family:sans-serif;
}


 #nav a:hover {
    color:red ;
    background-color:black;
}

.hi{
   border:solid red;
    margin-right:1000px;
    color:red;  
}