h1{
   
    text-align:center;
    font-size:50px ;
}



#nav {
    text-align:center;
    
}
    
#nav li {
    display:inline-block;

    
}

#nav a {
 color:blue;
 background-color:white ;
 border:solid;   
 transition:2s linear;
 font-size:30px;
}


 #nav a:hover {
    color:red ;
    background-color:black;
}

p{
   text-align:center;
}


#item1{
    position:absolute;
    margin-left:300px;
    
     
}


#item2{
    margin-left:850px;
    
}


#info1{
    margin-right:20%;
    margin-left:20%;
}


#info2{
    margin-right:20%;
    margin-left:20%;
}

body{
    background-color:gray;
    color:blue;
}