h1 {
    text-align:center;
    color:#F5FFFA;
}

#navbar {
    text-align:center;
    
}
    
#navbar li {
    display:inline-block;

    
}

#navbar a {
 color:blue;
 background-color:black;
 border:solid;   
 transition:.5s linear;
 font-size:30px;
}


 #navbar a:hover {
    color:red ;
    background-color:black;
}

div{
    color:#F5FFFA;
}

#item1{
    margin-left:250px;
    position:absolute;
}

#item2{
    margin-left:850px;
    margin-bottom:1350px;
}





p{
    text-align:center;
    font-size:25px;
}