

#nav {
    text-align:center;
    
}
    
#nav li {
    display:inline-block;

    
}

#nav a {
 color:blue;
 background-color:black;
 border:solid;   
 transition:.5s linear;
 font-size:30px;
}


 #nav a:hover {
    color:red ;
    background-color:black;
 }
 
.para{
    
}
 