body{
    background-color:grey ;
}
h1{
    border:solid blue ;
    text-align:center; 
    margin-left:350px;
    margin-right:350px;
}


pre{
    border:solid;
    text-align:center;
    margin-left:150px;
    margin-right:150px;
    
}

code{
    text-align:center;
}


#nav {
    text-align:center;
    
}

#nav li {
    display:inline-block;

    
}

#nav a {
 color:white;
 background-color:#66CCCC;
 border:solid;   
 transition:2s linear;
 font-size:20px;
 font-family:sans-serif;
}


 #nav a:hover {
    color:red ;
    background-color:black;
}

p{
    border:solid ;
    margin-right:350px;
    margin-left:350px;
    text-align:center;
    font-family:arial;

}


img{
    margin-left:450px;
}



h2{
    text-align:center;
    border-bottom:solid;
    margin-left:350px;
    margin-right:350px;
}


