 p {
     
     border:solid 5px white ;
     color:blue;
    width:48%;
    transition:0.5s all ;
    font-size:30px;
    text-align:center;
    margin:auto ;
 }
 
 
 p:hover{
     color:red;
     font-size:40px;
 }
 
 
 
 body {
     background-color:black ;
     text-align:center;
 }
 
 
 h1 {
     border-bottom:solid;
     text-align:center;
     margin-left:400px;
     margin-right:400px;
     color:blue;
 }
  h1:hover{
     color:red;
     font-size:40px;
 }
 
 .headers{
  font-size:30px;
  text-align:center;
  transition:2s ease;
  color:white ;
 }
 
 
 .headers:hover {
  color:blue ;
  font-size:50px;
 }
 
 
